// GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

// SCREEN SIZE 
$mobile: 300px;
$tablet: 700px;
$desktop: 1000px;

// COLOR
$mainColor: #023879;
$fontColor: black;
// for Background color of A
$strongColor:#25568E;
// for Hover color of A
$hoverColor: deepskyblue;
// for A color
$aColor: dimgray;
// FONT FAMILIES 
$font: 'Noto Sans', sans-serif; 