// GOOGLE FONT
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap');

// SCREEN SIZE 
$mobile: 300px;
$tablet: 700px;
$desktop: 1000px;

// COLOR
<<<<<<< HEAD
$mainColor: #FEF7F0;
$fontColor: #6C636D;
$strongColor:#E6DCC9;
=======
$mainColor: #6052E2;
$fontColor: black;
$strongColor:#ACACAF;
>>>>>>> 6a004af2e5532c3f0389559f627bc7c01e907c86

// FONT FAMILIES 
$font: 'Noto Sans', sans-serif; 