// MOBILE VERSION
@media (min-width: $mobile) {
    .thailand,
    .thailand > section,
    body,
    header > section > aside {
    @include flexColumn;
    }

    body > nav > aside,
    body > aside,
    body > aside > ul,
    body > aside li,
    .thailand,
    .thailand > section {
    @include center;
    }

    img {
      width: 20%;
    }
    .thailand {
      row-gap: 5vh;
    }

    .thai {
      > section {
        justify-content: center;
        > aside {
          display: flex;
          flex-direction: row;
          column-gap: 5vh;
          padding: 0;
          @include center;
        }
      }
      strong {
        color: whitesmoke;
        font-weight: 600;
        font-size: 35px;
        border-bottom: 3px solid whitesmoke;
      }
      span {
        font-size: 18px;
        color: $mainColor;
        font-weight: 600;
      }
    }


    .weekly {
        align-items: center;
        justify-content: center;
        text-align: center;
        row-gap: 5vh;
        > article {
            row-gap: 1vh;
        }

        h2 {
            color: $mainColor;
            font-size: 30px;
            font-weight: 700;
        }

        p {
            color: $fontColor;
        }

        > section {
            display: flex;
            flex-direction: column;
            width: 80%;
            row-gap: 5vh;
        }

        figure {
            background-color: #4b66ae;
            width: 100%;
            height: 30vh;
            padding: 2%;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        img {
            width: 60%;
        }

        // figcaption {
            
        // }

        // h4 {

        // }

        // h3 {

        // }

        // a {
            
        // }

    }

    .price {
        width: 100%;
        row-gap: 5vh;
        
               
        > article {
            background-image: url("/thai_img/bg-price.jpg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 30vh;

            > section {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color:rgba(151, 149, 176, 0.8)
            }

            h2 {
                color: $mainColor;
                font-size: 30px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }

        > section {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 2vh;

            > aside:nth-child(1) {
                background-color: #a64726;
                // background-color: #bf3b3a;
                // background-color: #ff8066;
                // background-image: linear-gradient(to right top,
                // #d16ba5,
                // #c777b9,
                // #ba83ca,
                // #aa8fd8,
                // #9a9ae1,
                // #8aa7ec,
                // #79b3f4,
                // #69bff8,
                // #52cffe,
                // #41dfff,
                // #5ffbf1 );
            }

            > aside:nth-child(2) {
                // background-color: #023879;
                background-color: #17468c;
            }

            > aside:nth-child(3) {
                background-color: #006c3d;
            }

          
        }

        aside {
            color: $fontColor;
            min-height: 40vh;
            width: 90%;
            @include flexColumn;
            @include center;
            row-gap: 3vh;
            

            p {
                color: whitesmoke;
                width: 80%;
                text-align: center;
                font-size: 16px;
            }
        }

        i {
            display: none;
        }

        h4 {
            color: #ffeeca;
            border-bottom: 3px dashed darkblue;
            padding-bottom: 1vh;
            font-size: 24px;
        }

        strong {
            font-size: 40px;
            font-weight: 800;
            color: #dbecea;
        }

        a {
            font-size: 16px;
            font-weight: 700;
            color: $aColor;
            background-color: white;
            border: none;
            width: 50%;
            padding: 1vh;
            text-align: center;

        }

        h5 {
            font-size: 16px;
            background-color: #f9e282;
            color: #bf3b3a;
            font-style: italic;
            width: 100%;
            padding: 2%;
            text-align: center;

        }



        
    }
}






