// MOBILE VERSION
@media (min-width: $mobile) {
  
  .korea,
  .korea > section,
  body,
  header > section > aside {
    @include flexColumn;
  }
  
  body > nav > aside,
  body > aside,
  body > aside > ul,
  body > aside li,
  .korea,
  .korea > section {
    @include center;
  }
  body {
    > aside {
      display: flex;
      justify-content: space-between;
      background-color: $mainColor;
      row-gap: 2vh;
      width: 100%;
      height: 10vh;
      color: $fontColor;
      > ul {
        display: flex;
        width: 50%;
        font-weight: 600;
      }
      > ul:last-child {
        width: 40%;
      }
      li {
        display: flex;
        column-gap: 1vh;
        width: 100%;
        list-style: none;
      }
      a {
        font-size: 18px;
        color: $fontColor;
        text-decoration: none;
        transition: .5s;
      }
      i {
        text-decoration: none;
      }
      [class*="fa-"]{
        display: flex;
        @include center;
        font-size: 23px;
        transition: .5s;
        &:hover {
          color: deepskyblue;
        }
      }
    }
  }

  /* NAV  */
  body {
    > nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      padding-left: 2%;
      height: 10vh;
      width: 95%;
      > aside {
        display: flex;
        column-gap: 2vh;
        color: $fontColor;
      }
      i {
        font-size: 30px;
      }
      h2 {
        font-size: 20px;
        font-weight: 800; 
      }
    }
  }
  nav > a,
  nav > ul {
    display: none;
  }
  details {
    width: 100%;
    text-align: right;
    position: absolute;
    cursor: pointer;
    > ul {
      background-color: $fontColor;
      width: 100%;
      position: absolute;
    }
    li {
      display: flex;
    }
    a {
      width: 100%;
      padding: 5%;
      text-align: left;
      color: whitesmoke;
      font-size: 20px;
      text-decoration: none;
      font-weight: 700;
      transition: .5s;
    }
    a:hover {
      color: black;
      background-color: $mainColor;
    }
  }
  summary {
    border: 1px solid gainsboro;
    padding: 2% 3%;
    font-size: 26px;
    transition: .5s;
    color: dimgray;
    &:hover {
      background-color: $mainColor;
      color: whitesmoke;
    }
  }

  // HEADER 
  header {
    display: flex;
    height: 30vh;
    background-image: url('/home_img/header_img.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    > section {
      display: flex;
      align-items: center;
      height: 100%;
      width: 100%;
      background-color: rgba(231, 228, 228, 0.5);
      > aside {
        display: flex;
        padding-left: 2vh;
        row-gap: 2vh;
        width: 90%;
        color: $fontColor;
      }
    }
    h1 {
      font-size: 20px;
      font-weight: 800;
    }
    h3 {
      font-size: 18px;
    }
    a {
      display: flex;
      @include center;
      background-color: $mainColor;
      color: $fontColor;
      text-decoration: none;
      border-radius: 5px;
      width: 30%;
      height: 5vh;
      font-weight: 600;
      font-size: 17px;
      &:hover {
        background-color: $fontColor;
        color: deepskyblue;
      }
    }
  }
  // HEADER END 
  img {
    width: 20%;
  }
  .korea {
    row-gap: 5vh;
  }
  
  .intro {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding-top: 5%;
    img {
      width: 30%;
      padding: 1%;
      border-radius: 10px;
      background-color: $fontColor;
      border: 3px solid deepskyblue;
    }
    > figure {
      display: flex;
      @include center;
      > figcaption {
        @include flexColumn;
        @include center;
        row-gap: 2vh;
        padding: 2%;
        width: 90%;
      }
      h4 {
        font-size: 20px;
        color: $fontColor;
      }
      p {
        text-align: center;
        line-height: 1.5;
        color: $fontColor;
      }
      span {
        font-size: 18px;
        color: royalblue;
        font-weight: 700;
      }
      a {
        display: flex;
        @include center;
        width: 50%;
        height: 5vh;
        border-radius: 10px;
        color: $fontColor;
        text-decoration: none;
        background-color: $mainColor;
        font-weight: 600;
        &:hover {
          color: deepskyblue;
          background-color: $fontColor;
        }
      }
    }
  }
  .assignment {
    display: flex;
    row-gap: 2vh;
    width: 95%;
    a {
      display: flex;
      @include center;
      font-size: 17px;
      width: 30%;
      height: 4vh;
      border-radius: 5px;
      color: royalblue;
      text-decoration: none;
      background-color: $mainColor;
      font-weight: 600;
      &:hover {
        color: deepskyblue;
        background-color: $fontColor;
      }
    }
    h6 {
      line-height: 1.5;
      font-size: 17px;
    }
    > section {
      @include flexColumn;
      @include center;
      color: $fontColor;
      width: 100%;
      row-gap: 2vh;
      > p {
        width: 90%;
        text-align: center;
      }
    }
    > figure {
      display: flex;
      align-items: flex-end;
      width: 95%;
      padding: 2%;
      column-gap: 1vh;
      background-color: rgb(206, 206, 230);
      > i {
        font-size: 30px;
        color: red;
      }
    }
    > figure:nth-child(even) {
      justify-content: left;
      > figcaption {
        @include flexColumn;
        font-size: 20px;
        border-radius: 15px 15px 15px 0;
        color: $fontColor;
        background-color: ghostwhite;
        row-gap: 2vh;
        padding: 3%;
      }
    }
    >figure:nth-child(odd) {
      justify-content: right;
      flex-direction: row-reverse;
      > i {
        color: blue;
      }
      > figcaption {
        @include flexColumn;
        font-size: 20px;
        border-radius: 15px 15px 0 15px;
        color: $fontColor;
        background-color: whitesmoke;
        row-gap: 2vh;
        padding: 3%;
      }
    }
  }
}