// TABLET VERSION
@media (min-width: $tablet) {
  body {
    > nav {
      h2 {
        font-size: 35px;
      }
      i {
        font-size: 45px;
      }
    }
    > aside {
      > ul {
        justify-content: space-between;
        column-gap: 0;
      }
      > ul:last-child {
        width: 35%;
      }
      li {
        width: 80%;
      }
      a {
        font-size: 30px;
      }
      [class*="fa-"]{
        font-size: 35px;
      }
    }
  }
  details{
    a {
      font-size: 35px;
    }
  }
  // HEADER 
  header {
    > section {
      > aside {
        row-gap: 3vh;
      }
    }
    h1 {
      font-size: 45px;
    }
    h3 {
      font-size: 35px;
    }
    a {
      width: 25%;
      font-size: 25px;
    }
  }
  // HEADER END 
  .intro {
    img {
      width: 40%;
      height: 35vh;
    }
    > figure {
      > figcaption {
        row-gap: 4vh;
      }
      h4 {
        font-size: 35px;
      }
      p {
        font-size: 30px;
      }
      span {
        font-size: 30px;
        font-weight: 800;
      }
      a {
        width: 35%;
        font-size: 28px;
      }
    }
  }
  .assignment {
    h2 {
      font-size: 45px;
    }
    > section {
      > p {
        font-size: 30px;
      }
    }
    > figure {
      > i {
        font-size: 60px;
      }
      h4 {
        font-size: 35px;
      }
      h6 {
        font-size: 30px;
      }
    }
    a {
      width: 35%;
      height: 5vh;
      font-size: 30px;
    }
  }
  .package{
    aside {
      height: 50vh;
      row-gap: 5vh;
    }
    section {
      > a {
        font-size: 40px;
        height: 100%;
      }
    }
    > section {
      h2 {
        font-size: 45px;
      }
      > p {
        font-size: 30px;
      }
    }
    h3 {
      font-size: 45px;
    }
    h4 {
      font-size: 40px;
    }
    h5 {
      font-size: 35px;
    }
    h6 {
      font-size: 30px;
    }
  }
}