@media (min-width: $desktop) {
  .brazil {
    > section {
      > aside {
        column-gap: 15vh;
      }
    }
    strong {
      font-size: 70px;
    }
    span {
      font-size: 40px;
    }
  }
}