@media (min-width: $tablet) {
  .brazil {
    > section {
      > aside {
        column-gap: 6vh;
      }
    }
    strong {
      font-size: 60px;
    }
    span {
      font-size: 40px;
    }
  }

  .introduction {
      h1 {
          font-size: 60px;
      }

      p {
          font-size: 27px;
      }
  }
}