// DESKTOP VERSION
@media (min-width: $desktop) {
  // NAV 
  body {
    > nav {
      i {
        font-size: 40px;
      }
      h2 {
        font-size: 40px;
      }
      > aside {
        column-gap: 2vh;
      }
    }
  }
  body {
    > aside {
      li {
        width: 60%;
      }
      > ul:last-child {
        width: 30%;
      }
    }
  }
  nav {
    justify-content: space-between;
    > ul {
      display: flex;
      @include center;
      width: 70%;
      height: 100%;
      > li {
        display: flex;
        @include center;
        width: 100%;
        height: 100%;
      }
      a {
        display: flex;
        @include center;
        color: $fontColor;
        text-decoration: none;
        font-weight: 600;
        font-size: 25px;
        height: 100%;
        border-bottom: 2px solid transparent;
        &:hover {
          color: deepskyblue;
          border-bottom: 2px solid $fontColor;
        }
      }
    }
  }
  details {
    display: none;
  }
  // NAV END 
  // HEADER 
  header {
    > section {
      > aside {
        row-gap: 4vh;
      }
    }
    a {
      width: 20%;
    }
  }
  // HEADER END 
  // ABOUT
  .about {
      width: 95%;
      > article {
          p {
              font-size: 18px;
              text-align: justify;
              width: 85%;
          }
      }

      h2 {
          font-size: 30px;
      }

      h4 {
          font-size: 20px;
      }

      h6 {
          width: 30%;
      }
  }

  // ABOUT SUBJECT
  .subject {
      a {
        width: 30%;
      }

      img {
          height: 50vh;
      }
  }

  // ABOUT METHOD
  .method {
      > article {
          flex-wrap: nowrap;
      }

      aside {
          height: 60vh;
      }
  }

  // ABOUT TEAM
  .team {
      > article {
          width: 100%;
          justify-content: space-evenly;
      }

      figure {
          width: 30%;
      }

      img {
          height: 45vh;
      }

      figcaption {
          padding: unset;
          height: 13vh;
          justify-content: center;
          position: relative;
          align-items: center;
          z-index: 1;
          > h4 {
              font-size: 20px;
          }
          
          > aside {
              @include flexColumn;
              @include center;
              row-gap: 1vh;
              position: absolute;
              border: 6px solid deepskyblue;
              z-index: 0;
              width: 96.7%;
              height: 0%;
              bottom: 0%;
              overflow: hidden;
              transition: .6s;
              opacity: 1;
              &:hover {
                  opacity: 1;
                  // bottom: 100%;
                  height: 90%;
                  background-color: deepskyblue;
              }
              > a {
                  font-weight: 700;
                  color: black;
                  background-color: $strongColor;
                  padding: 1vh;
                  border-radius: 5px;
                  &:hover {
                      background-color: black;
                      color: $strongColor;
                  }
              }
          }

          ul {
              display: flex;
              column-gap: 4vh;
          }

          i {
              color: $strongColor;
          }

      }
  }


  // CONTACT
  .contact {

    h2 {
      font-size: 50px;
    }
    
    h3 {
      font-size: 30px;

    }

    small {
      font-size: 22px;
    }

    > section {
      column-gap: 4vh;
    }
        
    ul {
      row-gap: 5vh;
    }

    i {
      font-size: 32px;
    }
  }
  
  form {
    padding-bottom: 5vh;
    padding-top: 5vh;
    
    > article {
      row-gap: 2vh;
    }

    [type="submit"] {
      width: 50%;
      padding: 3%;
      font-size: 20px;
      transition: .5s;
        &:hover {
          color: deepskyblue;
          background-color: transparent;
          border: 1px solid deepskyblue;
        }
    }

  }

  input, textarea {
    width: 70%;
    font-size: 20px;
  }

  textarea {
    min-height: 15vh;
  }
  

  /* FOOTER */
  footer {
    row-gap: 2vh;

    > article {
      flex-direction: row;
      justify-content: space-around;
      padding: 2vh;
      column-gap: 1vh;
    }

    p {
      font-size: 28px;
      font-weight: 600;
      
    }

    > figure {
      column-gap: 3vh;
      row-gap: 1vh;
    }
  
    h2 {
      font-size: 60px;
      font-weight: 900;
    }
  
    aside {
      > ul {
        row-gap: 2vh;
      }

      li {
        column-gap: 3vh;
      }

      a {
        font-size: 24px;
        font-weight: 500;
        transition: .5s;
        &:hover {
          color: deepskyblue;
        }
      }

    }
  
    h3 {
      font-size: 30px;
    }
  
    section {
      row-gap: 2vh;
    }

  }

  .icons {
    > ul {
      column-gap: 2vh;
    }
    
    a {
      font-size: 35px;
      transition: .5s;
        &:hover {
          color: deepskyblue;
        }
    }
  
  }

  .bottombar {
    align-items: flex-start;
    padding-top: 4vh;

    > article {
      text-align: left;
    }
  
    p {
      font-size: 24px;
      font-weight: 500;
    }
  
  }

  [class*="fa-"] {
    font-size: 28px;
    transition: .5s;
        &:hover {
          color: deepskyblue;
        }
  }
}