// TABLET VERSION
@media (min-width: $tablet) {

  // ABOUT
  .about {
      row-gap: 3vh;
      > article {
          > p {
              font-size: 20px;
          }
      }

      h2 {
          font-size: 32px;
      }

      h4 {
          font-size: 22px;
      }

      h6 {
          width: 50%;
      }

      a {
          transition: .6s;
          &:hover {
              background-color: $strongColor;
              color: navy;
          }
      }

      strong {
          font-size: 29px;
      }
  }

  // ABOUT SUBJECT
  .subject {
      > article {
          flex-direction: row;
          column-gap: 4vh;
      }

      a {
          width: 50%;
      }
  }

  // ABOUT METHOD
  .method {
      > article {
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          column-gap: 3vh;
      }

      aside {
          width: 30%;
          height: 25vh;
      }

      p {
          font-size: 15px;
      }
  }

  // ABOUT TEAM
  .team {
      > article {
          flex-direction: row;
          column-gap: 1vh;
      }

      img {
          height: 18vh;
      }

      figcaption {
          padding: 1vh;
          > h4 {
            font-size: 16px;
          }
      }


  }


  // CONTACT
  .contact {
    width: 95%;
    
    h2 {
      font-size: 44px;
    }
    
    h3 {
      font-size: 24px;

    }

    h4 {
      font-size: 22px; 
    }

    small {
      font-size: 20px;
      font-weight: 500;
    }

    > section {
      flex-direction: row;
      width: 95%;  
      column-gap: 3vh;
    }
        
    ul {
      row-gap: 4vh;
    }

    li {
      column-gap: 3vh;
    }

    a, time {
      font-size: 20px;
    }

    i {
      font-size: 30px;
    }
  }
  
  form {
    padding-bottom: 3vh;
    padding-top: 3vh;
    
    > article {
      row-gap: 2vh;
    }

    [type="submit"] {
      width: 50%;
      padding: 3%;
      font-size: 20px;
    }

  }

  input, textarea {
    width: 70%;
    font-size: 20px;
  }

  textarea {
    min-height: 15vh;
  }


}